* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

header {
  background-color: #556B2F;
  color: #FFFFFF;
  padding: 0px;
}

footer {
  background-color: #556B2F;
  color: #FFFFFF;
  padding: 0px;
  margin-top: 5%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
}

body {
  background-color: #FFFFFF;
}

.login_container {
  background: #D2B48C;
  width: 300px;
  height: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -150px;
  border:1px solid #000000;
  text-align: center;
}

.login_title {
  font-weight: bold;
  font-size: 22px;
  margin: 5% 0% 1% 0%;
  padding: 1%;
  color: #FFFFFF;
}

.login_text {
  text-align: center;
  width: 100%;
  height: 100%;
  border: 1px;
  border-radius: 3px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  margin: 1% 0% 1% 0%;
  padding: 1%;
}

.submit_button {
  width: 50%;
  height: 100%;
  background-color: #556B2F;
  border: 1px;
  border-radius: 3px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  margin: 5% 0% 1% 0%;
  padding: 1%;
}
